{% extends 'layout.html.twig' %}

{% block title %}Create Media | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mx-auto">
            <div class="col-md-6 card mx-auto mt-3 mb-3 p-3">
                <h1 class="text-center patua">Create your media</h1>
                {{ form_start(form) }}

                <div class="form-group">
                    <label for="uploadedFile">File</label>
                    <input type="file" class="form-control-file" id="uploadedFile" name="uploadedFile">
                </div>

                {{ form_widget(form) }}
                <small class="form-text text-muted">Vous pouvez ajouter plusieurs genres en maintenant la touche 'Ctrl' appuyée</small>
                <div class="text-center">
                    <button class="btn btn-success btn-lg" type="submit">Add</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        var $typeMedia = $('#media_typeMedia');
        // When sport gets selected ...
        $typeMedia.change(function() {
            // ... retrieve the corresponding form.
            var $form = $(this).closest('form');
            // Simulate form data, but only include the selected sport value.
            var data = {};
            data[$typeMedia.attr('name')] = $typeMedia.val();
            // Submit data via AJAX to the form's action path.
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                    // Replace current position field ...
                    $('#media_genre').replaceWith(
                        // ... with the returned one from the AJAX response.
                        $(html).find('#media_genre')
                    );
                    // Position field now displays the appropriate positions.
                }
            });
        });
    </script>
{% endblock %}