{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mx-auto mt-3">
            <div class="col-md-12 mt-5 text-center">
                <img class="svg img-fluid unselectable home-img hvr-grow" src="{{ asset('img/cloud_share.svg') }}" alt="Share and host">
            </div>

            <div class="col-md-12 mt-3 text-center">
                <div class="col-md-6 p-3 mx-auto text-center">
                    <h1 class="lobster home-title unselectable text-light"><strong>Share & Host your medias</strong></h1>
                </div>
            </div>
        </div>
    </div>

{% endblock %}