{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-centre">
            <div class="col-md-12 text-center">
                <p id="pahome">Coundry road, take me</p>
                <br>
                <p class="strong" id="home">HOME</p>
            </div>
        </div>
    </div>

{% endblock %}