{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-centre">
            <div class="col-md-12 text-center">
            </div>
        </div>
    </div>

{% endblock %}