html, body{
    font-family: 'Nunito', sans-serif;
    font-size: 100%;
}
html body {
    background-image: url("bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.nav-link {
    display: inline-block;
    width: 120px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.wrapper {
    min-height: 100%;

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -20px;
}

.lobster{
    font-family: 'Lobster', cursive;
}
.patua{
    font-family: 'Patua One', cursive;
}

.border-left-2 {
    border-left:solid black 2px !important;
}

.border-right-2 {
    border-right:solid 2px black !important;
}

.border-left{
    border-color: black !important;
}
.border-right{
    border-color: black !important;
}

/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #C54F00;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}
