{% extends 'layout.html.twig' %}

{% block title %}Update user | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mx-auto">
            <div class="col-md-6 card mx-auto mt-3 p-2">
                <h1 class="text-center patua">Edit Type</h1>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="text-center">
                    <button class="btn btn-success btn-lg" type="submit">Update</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}